<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/grid.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollTrigger.js"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/main.js"></script>

    <title>Paulista Teams</title>
  </head>

  <body>
    <header class="full-width-grid-con" id="header">
      <h1 class="hidden">PaulistaChampionship Team Info</h1>

      <div class="grid-con">
          <h2 class="hidden">Header</h2>

          <div class="col-start-1 col-end-4" id="logo">
              <a href="index.html"><img src="images/logo.png" alt="PaulistaChampionship Logo"></a>
          </div>

          <div class="col-start-4 col-end-5 m-col-start-12 m-col-end-13" id="burger">
            <img src="images/bars-menu.svg" alt="A burger menu icon">
        </div>

          <nav class="col-span-full m-col-start-6 m-col-end-13" id="menu">
              <h3 class="hidden">Header Navigation</h3>
              <ul>
                  <li><a href="#champ-info">History</a></li>
                  <li><a href="#team-select">Teams</a></li>
                  <li><a href="#player-con">Players</a></li>
              </ul>
          </nav>
      </div>
    </header>

    <main>
      <section class="full-width-grid-con slide-up" id="hero">
        <h2 class="hidden">Hero</h2>

        <div class="grid-con slide-left">
          <div class="hero-content col-span-full l-col-start-1 l-col-end-7">
            <h3>Paulista Championship's Teams</h3>
  
            <p>Get to know the <span class="bold">top teams</span> and the athletes who make the São Paulo State Championship (Campeonato Paulista) one of the toughest in Brazil — and maybe even in the world.</p>
          </div>
        </div>
      </section>

      <section class="full-width-grid-con slide-up" id="champ-info">
        <h2 class="hidden">Championship Info</h2>

        <div class="grid-con slide-left">
          <div class="info col-span-full l-col-start-1 l-col-end-6">
            <p class="bold subtitle">BRAZIL’S MOST DIFICULT REGIONAL CHAMPIONSHIP</p>
          
            <h3>THE CAMPEONATO PAULISTA</h3>
  
            <p>The Campeonato Paulista, also known as the São Paulo State Championship, is one of the oldest and most prestigious football competitions in Brazil. It was first held in 1902, making it the oldest state-level tournament in the country. Organized by the Federação Paulista de Futebol (FPF), the championship features clubs from the state of São Paulo, which is home to some of Brazil’s most successful teams.</p>
            <p>Over the decades, traditional powerhouses like Corinthians, Palmeiras, São Paulo FC, and Santos have dominated the competition. These clubs have not only found success in the state league but have also won numerous national and international titles, raising the overall level of the tournament.</p>
            <p>The Campeonato Paulista is known for its fierce rivalries, passionate fan bases, and the emergence of legendary players such as Pelé, Sócrates, and Neymar. It often serves as a showcase for young talents and a warm-up for national competitions like the Brasileirão. Today, despite the rise of national and international tournaments, the Paulista Championship remains highly competitive and deeply rooted in the culture of Brazilian football.</p>
          </div>

          <div class="info-img col-span-full l-col-start-7 l-col-end-13">
            <img src="images/champions.png" alt="Collage of several wins in the championship"/>
          </div>
        </div>
      </section>

      <section class="full-width-grid-con slide-up" id="banner">
        <h2 class="hidden">Team Info Banner</h2>

        <div class="grid-con">
          <div class="col-span-full center">
            <h3>TEAMS AND PLAYERS</h3>
            <h4>Meet the clubs and their athletes</h4>
          </div>
        </div>
      </section>

      <section class="full-width-grid-con" id="team-select">
        <h2 class="hidden">Team Information</h2>

        <div class="grid-con">
          <h3 class="hidden">Paulista Teams</h3>

          <div class="col-span-full" id="team-con">
            <div class="center loader-con" v-if="loadingClubs">
              <p>Loading</p>
              <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>
            </div>
            
            <div v-if="error" class="error center">{{ error }}</div>

            <div class="teams slide-up">
              <div class="team-logo" v-for="(club, index) in clubsData" @click="selectClub(club)"><img :src="club.img_club" :alt="club.name"/></div>
            </div>
          </div>

          <div class="col-span-full fade" id="desc-con">
            <h3 class="hidden">Team Description</h3>

            <div class="center loader-con" v-if="loadingClubInfo">
              <p>Loading</p>
              <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>
            </div>
            
            <div v-if="selectedClub" id="team-details" class="team-info center">
              <p class="bold subtitle">Foundation</p>
              <p class="foundation">{{ selectedClub.foundation_date }}</p>
          
              <p class="bold subtitle">Stadium</p>
              <p class="stadium">{{ selectedClub.stadium_name }}</p>
            </div>

            <img v-if="selectedClub" :src="selectedClub.img_stadium" :alt="selectedClub.stadium_name" class="stadium-img"/>
          </div>

          <div class="col-span-full fade" id="player-con">
            <h3 v-if="selectedClub" class="center">Players</h3>

            <div class="center loader-con" v-if="loadingPlayers">
              <p>Loading</p>
              <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>
            </div>

            <div class="players">
              <div class="person" v-for="player in players">
                <img :src="player.img_player" :alt="player.player_name" class="player-img"/>
                
                <div class="player-info center">
                  <h4 class="player-name">{{ player.player_name }}</h4>
                  <p class="player-age">{{ player.age }} years</p>
                  <p class="player-position">{{ player.position }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="full-width-grid-con">
          <h2 class="hidden">Footer</h2>

          <div class="col-span-full">
            <div class="credits">
              <p>@Paulista Championship 2025</p>
              <p>Made by Jenifer Quelali and Rodrigo Nascimento</p>
            </div>
          </div>
      </footer>
    </main>
  </body>
</html>
