@use "../abstracts" as a;

// <section class="full-width-grid-con" id="banner">
//         <h2 class="hidden">Team Info Banner</h2>

//         <div class="grid-con">
//           <h3>TEAMS AND PLAYERS</h3>
//           <h4>Meet the clubs and their athletes</h4>
//         </div>
//       </section>

#banner {
    padding: 120px 0;
    background: url("../images/stadium_teams.jpg") no-repeat;
    color: a.$white;

    h3 {
        font-size: 26pt;
        line-height: 60px;
    }

    h4 {
        font-size: 14pt;
        font-weight: 400;
    }
}