@use "../abstracts" as a;

// <section class="full-width-grid-con" id="hero">
// <h2 class="hidden">Hero</h2>

// <div class="grid-con">
//   <div class="hero-content col-span-full">
//     <h3>Paulista Championship's Teams</h3>

//     <p>Get to know the <span class="bold">top teams</span> and the athletes who make the São Paulo State Championship (Campeonato Paulista) one of the toughest in Brazil — and maybe even in the world.</p>
//   </div>
// </div>
// </section>

#hero {
    padding: 100px 0;
    background: url("../images/main_banner.jpg") no-repeat;
    color: a.$white;

    h3 {
        font-size: 32pt;
        line-height: 50px;
        margin-bottom: 30px;
    }

    p {
        font-size: 12pt;
    }

    @media (min-width: 800px) {
        h3 {
            font-size: 42pt;
            line-height: 60px;
        }

        p {
            font-size: 14pt;
        }
    }
}