@use "../abstracts" as a;

.loader-con {
    max-width: 100px;
    padding: 20px 40px;
    
    p {
        font-size: 16pt;
        margin-bottom: 10px;
    }

    .loader {
        width: 100%;
    }
}