@use "../abstracts" as a;

.loader-con {
    max-width: 100px;
    padding: 20px 100px;
    border-radius: 20px;
    margin: 30px auto 10px auto;
    background-color: #f1f1f1;
    
    p {
        font-size: 16pt;
        margin-bottom: 10px;
    }

    .loader {
        width: 100%;
    }
}