@use "../abstracts" as a;

.players {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .person {
        padding: 20px;
        width: calc(50% - 40px);

        h4 {
            font-size: 16pt;
            margin-top: 20px;
        }

        p {
            font-size: 12pt;
            margin-bottom: 5px;
        }

        img {
            width: 100%;
        }

        @media (min-width: 800px) {
            width: calc(25% - 40px);
        }
    }
}