@use "../abstracts" as a;

html {
  scroll-behavior: smooth;
}

body {
  background-color: a.$black;
  font-family: a.$body-font-family;
}

.grid-con {
  grid-column: 2/3;
}

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

.center {
  text-align: center;
}
